<!DOCTYPE html>
<html>
<head>
  <title>Prong</title>
  <%= stylesheet_link_tag    "prong/application", :media => "all" %>
  <%= javascript_include_tag "prong/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
